/* Estilo general */
body {
  background-color: #FFD700; /* Fondo dorado cálido */
  color: #fff;  /* Texto blanco */
  font-family: 'Arial', sans-serif;
  text-align: center;
}

/* Botones */
button {
  background-color: #000;  /* Fondo negro */
  color: #fff;  /* Texto blanco */
  padding: 15px 25px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

button:hover {
  background-color: #333; /* Gris oscuro cuando el ratón pasa por encima */
}

/* Botón de "Volver atrás" */
#backBtnMining, #backBtnFriends, #backBtnWallet {
  background-color: #777; /* Color gris para el botón de "Volver atrás" */
  color: #fff;
  font-size: 1em;
  margin-top: 20px;
}

#backBtnMining:hover, #backBtnFriends:hover, #backBtnWallet:hover {
  background-color: #555; /* Gris oscuro al pasar el ratón */
}

/* Temporizador y balance */
#timer, #balance, #minedAmount {
  font-size: 1.5em;
  margin-top: 20px;
}
